__pycache__
test/__pycache__

*.onnx
*.onnx.ignore
*.pt

data.ignore/

dist
linger.egg-info
linger.egg-info/dependency_links.txt
linger.egg-info/PKG-INFO
linger.egg-info/requires.txt
linger.egg-info/SOURCES.txt
linger.egg-info/top_level.txt
test/data.ignore
test/data.ignore/aa.pt
test/data.ignore/test1_baseline.pt
doc/build/
examples/dump
examples/dump_all
examples/dump_filter
examples/dump_part
examples/resnet50.onnx.ignore
examples/shufflenet_v2_x1_0.bin.ignore

*.log
.vscode